body{
    /*background*/
    background-image: url('Big_smile.png');
    background-repeat: repeat-x;
    
    /*center*/
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
    
    /*font*/
    color: red;
}

